@import "tailwindcss";

@theme {
  --animate-ken-burns: ken-burns 20s ease-out infinite alternate;
  --animate-bounce-slow: bounce 3s infinite;
  
  @keyframes ken-burns {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
  }
}

